<a href="https://colab.research.google.com/github/Ranjitghadge/Python_Master/blob/main/Daily_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
for i in range(1,5):
  for j in range (2,5):
    if i != j:
      print(i,j)

1 2
1 3
1 4
2 3
2 4
3 2
3 4
4 2
4 3

In [13]:
def is_prime(num):
  if num <= 1:
    False
  else:
    for i in range(2,num):
      if num % i == 0:
        False
    else:
      True


num = int(input())

if is_prime(num):
  print(f"{num} is a prime num")
else:
  print(f"{num} is not a prime num")

13
13 is not a prime num

In [12]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):  # Checking up to the square root of num
        if num % i == 0:
            return False
    return True

# Taking user input
num = int(input("Enter a number: "))

# Checking if the number is prime
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

Enter a number: 13
13 is a prime number

In [17]:

def factorial(num):
  for i in range(1,fact+1):
    fact = fact * i

    return fact

num = int(input())

print(factorial(num))

5

UnboundLocalError: local variable 'fact' referenced before assignment

In [ ]:
merge = pd.merge(employees,projects, how='left',on='Department')
print(merge)

    EmployeeID     Name Department  Salary JoiningDate  ProjectID ProjectName  \
0            1    Alice         HR   70000  2020-01-15        103       Gamma
1            2      Bob         IT   80000  2019-07-01        101       Alpha
2            2      Bob         IT   80000  2019-07-01        104       Delta
3            3  Charlie         IT   75000  2021-06-10        101       Alpha
4            3  Charlie         IT   75000  2021-06-10        104       Delta
5            4    David         HR   72000  2020-12-01        103       Gamma
6            5      Eve    Finance   90000  2018-03-23        102        Beta
7            5      Eve    Finance   90000  2018-03-23        105     Epsilon
8            6    Frank    Finance   85000  2019-11-12        102        Beta
9            6    Frank    Finance   85000  2019-11-12        105     Epsilon
10           7    Grace         IT   70000  2021-09-01        101       Alpha
11           7    Grace         IT   70000  2021-09-01        104       Delta
12           8   Hannah    Finance   95000  2022-01-05        102        Beta
13           8   Hannah    Finance   95000  2022-01-05        105     Epsilon

    StartDate    EndDate
0  2020-09-01 2021-03-31
1  2020-02-01 2020-10-15
2  2021-11-01 2022-03-10
3  2020-02-01 2020-10-15
4  2021-11-01 2022-03-10
5  2020-09-01 2021-03-31
6  2021-05-15 2021-11-20
7  2022-02-20 2022-07-25
8  2021-05-15 2021-11-20
9  2022-02-20 2022-07-25
10 2020-02-01 2020-10-15
11 2021-11-01 2022-03-10
12 2021-05-15 2021-11-20
13 2022-02-20 2022-07-25

In [ ]:
employees[(employees['Department'] == 'IT') & (employees['Salary']>75000)]

   EmployeeID Name Department  Salary JoiningDate
1           2  Bob         IT   80000  2019-07-01

In [ ]:
employees.groupby('Department')['Salary'].mean()

Department
Finance    90000.0
HR         71000.0
IT         75000.0
Name: Salary, dtype: float64

In [ ]:
employees[employees['JoiningDate'] > '2020-01-01']

   EmployeeID     Name Department  Salary JoiningDate
0           1    Alice         HR   70000  2020-01-15
2           3  Charlie         IT   75000  2021-06-10
3           4    David         HR   72000  2020-12-01
6           7    Grace         IT   70000  2021-09-01
7           8   Hannah    Finance   95000  2022-01-05

In [ ]:
employees.pivot_table(index='Department',values='Salary',aggfunc='mean')

             Salary
Department
Finance     90000.0
HR          71000.0
IT          75000.0

In [ ]:
employees_with_nan = employees.copy()
employees_with_nan.loc[employees_with_nan['EmployeeID'] == 3, 'Salary'] = None
filled_salaries = employees_with_nan.groupby('Department')['Salary'].apply(lambda x: x.fillna(x.mean()))
employees_with_nan['Salary'] = filled_salaries
print(employees_with_nan)

TypeError: incompatible index of inserted column with frame index

In [ ]:
def categorize_salary(salary):
    if salary < 75000:
        return 'Low'
    elif salary < 90000:
        return 'Medium'
    else:
        return 'High'

employees['SalaryCategory'] = employees['Salary'].apply(categorize_salary)
print(employees)

   EmployeeID     Name Department  Salary JoiningDate SalaryCategory
0           1    Alice         HR   70000  2020-01-15            Low
1           2      Bob         IT   80000  2019-07-01         Medium
2           3  Charlie         IT   75000  2021-06-10         Medium
3           4    David         HR   72000  2020-12-01            Low
4           5      Eve    Finance   90000  2018-03-23           High
5           6    Frank    Finance   85000  2019-11-12         Medium
6           7    Grace         IT   70000  2021-09-01            Low
7           8   Hannah    Finance   95000  2022-01-05           High

In [ ]:
def categories(salary):
  if salary < 75000:
    return 'Low'
  elif salary < 90000:
    return 'Mediam'
  else:
    return 'High'

employees['Salary_Category'] = employees['Salary'].apply(categories)

print(employees)

   EmployeeID     Name Department  Salary JoiningDate SalaryCategory  \
0           1    Alice         HR   70000  2020-01-15            Low
1           2      Bob         IT   80000  2019-07-01         Medium
2           3  Charlie         IT   75000  2021-06-10         Medium
3           4    David         HR   72000  2020-12-01            Low
4           5      Eve    Finance   90000  2018-03-23           High
5           6    Frank    Finance   85000  2019-11-12         Medium
6           7    Grace         IT   70000  2021-09-01            Low
7           8   Hannah    Finance   95000  2022-01-05           High

  Salary_Category
0             Low
1          Mediam
2          Mediam
3             Low
4            High
5          Mediam
6             Low
7            High

In [ ]:
du = employees.duplicated(subset=['Salary'])
print(employees[du])

   EmployeeID   Name Department  Salary JoiningDate SalaryCategory  \
6           7  Grace         IT   70000  2021-09-01            Low

  Salary_Category
6             Low

In [ ]:
employees['Rank']=employees.groupby('Department')['Salary'].rank(ascending=False)

employees[employees['Rank'] == 3]

,EmployeeID,Name,Department,Salary,JoiningDate,SalaryCategory,Salary_Category,Rank
5,6,Frank,Finance,85000,2019-11-12,Medium,Mediam,3.0
6,7,Grace,IT,70000,2021-09-01,Low,Low,3.0

In [ ]:
sorted = employees.sort_values(by='Salary',ascending=False)

sorted.iloc[2]

EmployeeID                           6
Name                             Frank
Department                     Finance
Salary                           85000
JoiningDate        2019-11-12 00:00:00
SalaryCategory                  Medium
Salary_Category                 Mediam
Rank                               3.0
Name: 5, dtype: object

In [ ]:
employees.head()

   EmployeeID     Name Department  Salary JoiningDate
0           1    Alice         HR   70000  2020-01-15
1           2      Bob         IT   80000  2019-07-01
2           3  Charlie         IT   75000  2021-06-10
3           4    David         HR   72000  2020-12-01
4           5      Eve    Finance   90000  2018-03-23

In [ ]:
employees['Rolling'] = employees['Salary'].rolling(window=3).mean()

print(employees)

   EmployeeID     Name Department  Salary JoiningDate SalaryCategory  \
0           1    Alice         HR   70000  2020-01-15            Low
1           2      Bob         IT   80000  2019-07-01         Medium
2           3  Charlie         IT   75000  2021-06-10         Medium
3           4    David         HR   72000  2020-12-01            Low
4           5      Eve    Finance   90000  2018-03-23           High
5           6    Frank    Finance   85000  2019-11-12         Medium
6           7    Grace         IT   70000  2021-09-01            Low
7           8   Hannah    Finance   95000  2022-01-05           High

  Salary_Category  Rank       Rolling
0             Low   2.0           NaN
1          Mediam   1.0           NaN
2          Mediam   2.0  75000.000000
3             Low   1.0  75666.666667
4            High   2.0  79000.000000
5          Mediam   3.0  82333.333333
6             Low   3.0  81666.666667
7            High   1.0  83333.333333

In [ ]:
crosstab = pd.crosstab(employees['Department'], employees['SalaryCategory'])
print(crosstab)

SalaryCategory  High  Low  Medium
Department
Finance            2    0       1
HR                 0    2       0
IT                 0    1       2

In [ ]:
A = employees['Name'].str.startswith(('A','B'))

employees[A]

,EmployeeID,Name,Department,Salary,JoiningDate,SalaryCategory,Salary_Category,Rank,Rolling
0,1,Alice,HR,70000,2020-01-15,Low,Low,2.0,NaN
1,2,Bob,IT,80000,2019-07-01,Medium,Mediam,1.0,NaN

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  if num >= 2:
    for i in range (2,int((num)**0.5)+1):
      if num % i == 0:
        return False
    else:
      return True
  else:
    return True


num = int(input("Enter a num: "))

if is_prime(num):
  print(num,"is a prime num")
else:
  print(num,"is not a prime num")

Enter a num: 5
5 is a prime num

In [ ]:
a = '12344'

list(a)

len(a)

5

In [ ]:
num = int(input("Enter a number:- "))
total = 0
avg = 0
count = 0

while num != 0:
  total = total + num
  count = count + 1
  avg = total/(count)
  num = int(input("Enter a number:- "))

print(total)
print(round(avg,2))

Enter a number:- 3
Enter a number:- 4
Enter a number:- 6
Enter a number:- 7
Enter a number:- 0
20
5.0

In [ ]:
num = 0
l = []

while num != 25:
  for i in range(1,10000):
    if i % 2 != 0:
      l.append(i)
      num = num + 1
    if num == 25:
      break

print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
n = int(input("Enter number:- "))

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='-')
  print("\n")

Enter number:- 8
1-

1-2-

1-2-3-

1-2-3-4-

1-2-3-4-5-

1-2-3-4-5-6-

1-2-3-4-5-6-7-

1-2-3-4-5-6-7-8-

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
n = int(input("Enter "))
num = 0
for i in range(0,n):
  for j in range(0,i+1):
    num = num + 1
    print(num,end = ' ')
  print("\n")

Enter 6
1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

16 17 18 19 20 21

In [ ]:
n1 = 24
n2 = 60

for i in range(n1,n2+1):
  for j in range(1,i):
      if i % j != 0:
        print(i,end=" ")
      break

In [ ]:
n = 5
for i in range(n,0,-1):
  print(i*" * ")

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [ ]:
def bio(name,age):
  print("Name of person is {} and age is {}".format(name,age))

bio("Ranjit",26)

Name of person is Ranjit and age is 26

In [ ]:
def check(L):
  if L[0] == L[-1]:
    return True
  else:
    return False

L = [1,2,3,4,5,6,1]
print(check(L))

True

In [ ]:
 L = []

 for i in range(4,30+1):
  if i % 2 == 0:
    L.append(i)

 print(L)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
x = [4, 6, 8, 24, 12, 2,65]


y = 0

for i in x:
  if i > y:
    y=i

print(y)

65

In [ ]:
num = int(input())

if num <= 0:
  print("Not a prime")
if num > 0:
  for i in range(2,num):
    if num % i == 0:
      print("Num is not prime")
      break
  else:
    print('Num is prime')

13
Num is prime