<a href="https://colab.research.google.com/github/Ranjitghadge/Python_Master/blob/main/Python_Revise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/Ranjitghadge/Python-Practice/blob/main/Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic

Integers – This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals).

In [ ]:
a = 5
print("Type of a: ", type(a))

Type of a:  <class 'int'>

In [ ]:
type(5.1)

float

In [ ]:
int(5.1245)

5

In [ ]:
bool(-15884)

True

Float – This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point.

In [ ]:
b = 5.0
print("\nType of b: ", type(b))

Type of b:  <class 'float'>

  Complex Numbers – Complex number is represented by a complex class. It is specified as (real part) + (imaginary part)j. For example – 2+3j

In [ ]:
c = 2 + 4j
print("\nType of c: ", type(c))

Type of c:  <class 'complex'>

### Arithmatic Operations

In [ ]:
val1 = 2
val2 = 3

# using the addition operator
res = val1 + val2
print(res)

5

In [ ]:
val1 = 2
val2 = 3

# using the subtraction operator
res = val1 - val2
print(res)

-1

In [ ]:
val1 = 2
val2 = 3

# using the multiplication operator
res = val1 * val2
print(res)

6

In [ ]:
val1 = 3
val2 = 2

# using the division operator
res = val1 / val2
print(res)

1.5

In [ ]:
val1 = 35  #reminder
val2 = 4

# using the modulus operator
res = val1 % val2
print(res)

3

In [ ]:
val1 = 2
val2 = 3

# using the exponentiation operator
res = val1 ** val2
print(res)

8

In [ ]:
val1 = 3
val2 = 2

# using the floor division
res = val1 // val2
print(res)

1

# String

### Creating String

In [ ]:
s ='hello'
s ="hello"
s = '''hello'''

print(s)

hello

In [ ]:
#example
"it's raining outside"

"it's raining outside"

### Accessing Substrings from a String

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[10])

d

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-5])

w

In [ ]:
# Slicing
s = 'hello world'
print(s[6:0:-1])

w olle

In [ ]:
# Slicing
s = 'hello world'
print(s[0:5])

hello

In [ ]:
print(s[::-1])

dlrow olleh

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

### Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: ignored

In [ ]:
s = 'hello world'
del s
print(s)

NameError: ignored

### Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [ ]:
print('delhi'*5)

delhidelhidelhidelhidelhi

Relational Operations

In [ ]:
'delhi' != 'delhi'

False

In [ ]:
'mumbai' > 'pune'
# lexiographically

False

In [ ]:
'Pune' > 'pune'

False

Logical Operations

In [ ]:
'hello' and 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'' and 'world'
#empty string act as False string act as True

''

In [ ]:
not 'hello'

False

### Loops on Strings

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
'D' in 'delhi'

False

Common Functions
- len
- max
- min
- sorted

In [ ]:
len('hello word')

10

In [ ]:
max('hello') #base on as key

'o'

In [ ]:
min('hello')

'e'

In [ ]:
sorted('hello') #output list

['e', 'h', 'l', 'l', 'o']

In [ ]:
sorted('hello',reverse=True) #output list

['o', 'l', 'l', 'h', 'e']

### Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [ ]:
s.title()

'Hello World'

In [ ]:
s.upper()

'HELLO WORLD'

In [ ]:
'Hello Wolrd'.lower()

'hello wolrd'

In [ ]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

Count/Find/Index

In [ ]:
'my name is nitish'.count('i')

3

In [ ]:
'my name is nitish'.find('n')

3

In [ ]:
'my name is nitish'.index('n') #same as index

3

endswith/startswith

In [ ]:
'my name is nitish'.endswith('ish')

True

In [ ]:
'my name is nitish'.startswith('1my')

False

Format

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()

False

In [ ]:
'nitish'.isalpha()

True

In [ ]:
'123'.isdigit()

True

In [ ]:
'first-name'.isidentifier()

False

Split/Join

In [ ]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [ ]:
'hi my name is nitish'.split('i')

['h', ' my name ', 's n', 't', 'sh']

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

In [ ]:
"_".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi_my_name_is_nitish'

Replace

In [ ]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

'hi my name is nitish'

Strip

In [ ]:
'nitish                           '.strip()

'nitish'

# String Quetions

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the string'ranjit'
length of string is 8

In [ ]:
# Extract username from a given email.

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

enter the emailranjitghadge555@gmail.com
ranjitghadge555

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailkkkk
what would like to search for5
frequency 0

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

enter the stringjjjjjjjj
what would like to remove5
jjjjjjjj

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

  if flag:
    print('Palindrome')

enter the string5
Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)


#wrong

enter the stringranjit ghadge
['ranjit', 'ghadge']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the string5
5

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number5
5
<class 'str'>

# List

**What are Lists**

List is a data type where you can store multiple items under 1 name. More technically, lists act like dynamic arrays which means you can add more items on the fly.

**Array Vs Lists**

Fixed Vs Dynamic Size

Convenience -> Hetrogeneous

Speed of Execution

Memory

In [ ]:
L = [1,2,3]                 #list work like a referncial array

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

133452900508480
133453509869808
133453509869840
133453509869872
133453509869808
133453509869840
133453509869872

### Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

In [ ]:
L = [1,2,3,1]
L1 = [3,2,1]

L == L1

False

### Creating a List

In [ ]:
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

### Accessing Items from a List

In [ ]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
print(L[0][0][1])

# Slicing
T = [1,2,3,4,5,6]
print(T[0])
print(T[-1])
print(T[::-1])
print(T[3::-1])

2
1
6
[6, 5, 4, 3, 2, 1]
[4, 3, 2, 1]

### Adding Items to a List

In [ ]:
# append
L = [1,2,3,4,5]
L.append(True)
print(L)

L.append(6)
print(L)

[1, 2, 3, 4, 5, True]
[1, 2, 3, 4, 5, True, 6]

In [ ]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [ ]:
# insert
L = [1,2,3,4,5]      #(location,no)

L.insert(2,100)
print(L)

[1, 2, 100, 3, 4, 5]

### Editing items in a List

In [ ]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]
L[0] = 50
print(L)

[50, 200, 300, 400, 500]

### Deleting items from a List

In [ ]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]
print(L)
# slicing
del L[1:3]
print(L)

del L[0]
print(L)

[1, 2, 3, 4]
[1, 4]
[4]

In [ ]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

L.remove(3)
print(L)

[1, 2, 3, 4]
[1, 2, 4]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop(0)

print(L)

[2, 3, 4, 5]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [ ]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

### Operations on Lists

- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [ ]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

### List Functions

In [ ]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [ ]:
# count
L = [1,2,1,3,4,1,5]
L.count(5)

1

In [ ]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [ ]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()  #do permanantly
print(L)
L

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

[0, 1, 2, 5, 7]

In [ ]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
133453302596032
[2, 1, 5, 7, 0]
133452894646656

### List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]

[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

### List Comprehension:

# New Section

Provide a concice way to create a list it consist bracket containing expression follow by for clouse then, zero or mmore for or if clauses this expression can be anything you can put all kinds of object in list.

In [ ]:
def sqr(nums):
  l=[]
  for i in nums:
    l.append(i*i)
  return l

nums=[1,2,4,5,6]
print(sqr(nums))

[1, 4, 16, 25, 36]

In [ ]:
list1=[i*i for i in nums]
print(list1)

[1, 4, 16, 25, 36]

In [ ]:
#If need even nos square
list1=[i*i for i in nums if i%2==0 ]
print(list1)

[4, 16, 36]

### 2 ways to traverse a list

- itemwise
- indexwise

In [ ]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

In [ ]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

### Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
L = [1,2,print,type,input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x796009010280>>]

### Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [ ]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [ ]:
t5[-1][0]

4

In [ ]:
print(t3[::-1])

(4, 3, 2, 1)

### Editing items

In [ ]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: ignored

### Adding items

In [ ]:
print(t3)
# not possible

(1, 2, 3, 4)

### Deleting items

In [ ]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: ignored

In [ ]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [ ]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

### Operations on Tuples

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

### Tuple Functions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [ ]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [ ]:
# index
t.index(50)

ValueError: ignored

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

### Special Syntax

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b = (1,2,3)
print(a,b)

ValueError: ignored

In [ ]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [ ]:
# empty
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#print(s2)
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion

s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 'hello', 4.5}
{1, 2, 3}
{1, 2, 3}

TypeError: ignored

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

### Accessing Items

In [ ]:
s1 = {1,2,3,4}
s1[0:3]

### Adding Items

In [ ]:
S = {1,2,3,4}
# add
# S.add(5)
# print(S)
# update
S.update([5,6,7])
print(S)

### Deleting Items

In [ ]:
# del
s = {1,2,3,4,5}
# print(s)
# del s[0]
# print(s)
# discard
# s.discard(50)
# print(s)
# remove
# s.remove(50)
# print(s)
# pop
# s.pop() #random delete any item
# clear
s.clear()
print(s)

### Set Operation

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
a = s1 - s2
b= s2 - s1
print(a)
print(b)
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

### Set Operation

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

In [ ]:
s.union(s1)

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s1:
  print(i)

### Set Functions

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s1)

s1.update(s2)
print(s1)
print(s2)

In [ ]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

In [ ]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

### Frozenset
Frozen set is just an immutable version of a Python set object

In [ ]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [ ]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

### Set Comprehension

In [ ]:
# examples

{i**2 for i in range(1,11) if i>5}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### Create Dictionary

In [ ]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
print(d5)
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'rahul'}
{'name': 'nitish', (1, 2, 3): 2}

### Accessing items

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']
# get
my_dict.get('age')

s['subjects']['maths']

67

### Adding key-value pair

In [ ]:
d4['gender'] = 'male'
d4
d4['weight'] = 72
d4

s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

### Remove key-value pair

In [ ]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
d.pop(3)
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

In [ ]:
# popitem
d.popitem() #remove any random element permanantly
# d.popitem()
# print(d)

('gender', 'male')

In [ ]:
# del  #remove any one element permanatly
del d['name']
print(d)

{'age': 32, 'gender': 'male', 'weight': 72}

In [ ]:
# clear #to clear thi dict
d.clear()
print(d)

{}

KeyError: ignored

In [ ]:
del s['subjects']['maths']
s

KeyError: ignored

### Editing key-value pair

In [ ]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 34, 'ds': 75}}

In [ ]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Editing key-value pair

In [ ]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

### Dictionary Operations

- Membership
- Iteration

In [ ]:
print(s)

'name' in s
'nitish' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

False

In [ ]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

### Dictionary Functions

In [ ]:
# len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'nitish', 'gender': 'male', 'age': 33}

'name'

In [ ]:
# items/keys/values
print(d)

print(d.items()) #extract key value pair
print(d.keys()) #extract only keys
print(d.values()) #Extract only values

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [ ]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

In [ ]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

dict.clear()

In [ ]:
text = {1: "geeks", 2: "for"}

text.clear()
print('text =', text)

dict.copy()

In [ ]:
original = {1: 'geeks', 2: 'for'}

new = original.copy()



print('new: ', new)
print('original: ', original)

dict.fromkeys()

In [ ]:
seq = ('a', 'b', 'c')
print(dict.fromkeys(seq, None))

dict.get()

In [ ]:
d = {'coding': 'good', 'thinking': 'better'}
print(d.get('coding'))

good

In [ ]:
num={'one':1,'two':2,'three':3}
for word,num in num.items():
    if num%2==0:
        print(num)

In [ ]:
num={'one':1,'two':2,'three':3}
for n in num.values():
    print(n)

In [ ]:
num={'one':1,'two':2,'three':3}
for n in num.keys():
    print(n)

In [ ]:
num.values()

In [ ]:
num.keys()

In [ ]:
num.items()

Pandas DataFrame from List of Dicts

In [ ]:
import pandas as pd

data = [{'Ranjit': '86','Rasika': '74', 'Rachna':'80', 'Rupesh':'85'},
        {'Ranjit': '70','Rasika': '60', 'Rachna':'50', 'Rupesh':'60'}]

df = pd.DataFrame(data)
print(df)

In [ ]:
import pandas as pd

data = [{'Ranjit': '86','Rasika': '74', 'Rachna':'80', 'Rupesh':'85'},
        {'Ranjit': '70','Rasika': '60', 'Rachna':'50', 'Rupesh':'60'}]

labels = ['a','b']
df = pd.DataFrame(data,index=labels)
print(df)

# Other Functions

## Enumerate

The enumerate() function is a built-in Python function that provides an easy way to iterate over elements in an iterable (such as a list, tuple, or string) while also keeping track of the index or position of each element. It returns an iterator that generates pairs of the form (index, element).

Here's an example to illustrate how the enumerate() function works:

In [ ]:
fruits = ['apple', 'banana', 'orange', 'grape']

for index, fruit in enumerate(fruits):
    print(index, fruit)

# Recursion

In [ ]:
def multipy(a,b):

  result = 0

  for i in range(b):
    result = result + a

  print(result)

multipy(5,2)

In [ ]:
#same code using recursion

def mul(a,b):
  if b == 1:
    return a
  else:
    return a+mul(a,b-1)

print(mul(5,2))

In [ ]:
def fact(num):
  if num == 1:
    return 1
  else:
    #5=5*4
    return num*fact(num-1)
print(fact(5))

In [ ]:
#Palindrome
def palin(text):
  if len(text) <= 1:
    print('palindrome')
  else:
    if text[0] == text[-1]:
      palin(text[1:-1])
    else:
      print('Not pali')


print(palin('madam'))

In [ ]:
#fibonacci

def fib(m):
  if m==0 or m==1:
    return 1
  else:
    return fib(m-1)+fib(m-2)
print(fib(12))

In [ ]:
import time


def fib(m):
  if m==0 or m==1:
    return 1
  else:
    return fib(m-1)+fib(m-2)
print(fib(18))

start = time.time()
print(fib(5))

print(time.time()-start)

# Special Function

#Map

In [ ]:
# Define a list of strings representing numbers
numbers = ['1.5', '2.7', '3.2']

# Use map() to convert each string to a float
converted_numbers = list(map(float, numbers))

print(converted_numbers)

[1.5, 2.7, 3.2]

In [ ]:
num = 28
divisors_sum = 0

for i in range(1, num):
    if num % i == 0:
        divisors_sum += i

if divisors_sum == num:
    print("is a perfect number")
else:
    print("is not a perfect number")

In [ ]:
# Sample function to double a number
def double(x):
    return x * 2

# Sample list of numbers
numbers = [1, 2, 3, 4, 5]

# Using map() to apply the 'double' function to each element of 'numbers'
doubled_numbers = map(double, numbers)

# Converting the result to a list
doubled_numbers_list = list(doubled_numbers)

print(doubled_numbers_list)

[2, 4, 6, 8, 10]

In [ ]:
def insert_string_in_middle(original_string, insert_string):
    middle_index = len(original_string) // 2
    return original_string[:middle_index] + insert_string + original_string[middle_index:]

original_string = "[[]]"
insert_string = "Python"

result = insert_string_in_middle(original_string, insert_string)
print(result)

In [ ]:

def insert_string_in_middle(original_string, insert_string):
    middle_index = len(original_string) // 2
    return original_string[:middle_index] + insert_string + original_string[middle_index:]

# User input
original_string = input("Enter the original string: ")
insert_string = input("Enter the string to insert: ")

result = insert_string_in_middle(original_string, insert_string)
print("Result:", result)

Enumerate Function

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'date']

for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry
Index: 3, Value: date

# Basic IMP Codes

### Only +ve even no from list

In [ ]:
L = [-1,-3,-4,0,5,4,8,9-11]

P = [i for i in L if i > 0 and i % 2 == 0]
print(P)

[4, 8]

### Square of List of even no

In [ ]:
L = [1, 2, 3, 4, 5]

P =[i**2 for i in L if i%2==0 ]
print(P)

[4, 16]

### Febonacci sequence

In [ ]:
n = 10
fib_seq = [0,1]
while len(fib_seq) < n:
  next_num = fib_seq[-1] + fib_seq[-2]
  fib_seq.append(next_num)

print(fib_seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

###Finding largest & second largest element in list

In [ ]:
L = [1,2,4,5,6,7,4,1,2,5,20,50]

sort = sorted(L)
largest = sort[-1]
second = sort[-2]

print(largest)
print(second)

50
20

### Swaping two variable

In [ ]:
a = 5
b = 10
a, b = b, a

print(a)
print(b)

10
5

###Finding the Intersection of Two Lists:

In [ ]:
L = [1,2,4,5,4,5,1,2,4]
P = [1,2,1,4,5,4,1,3,4,5,6]
print(list(set(L)&set(P)))

[1, 2, 4, 5]

###Checking string contain in substring

In [ ]:
text = "Hello, World!"
substring = "World"
contains_substring = substring in text
print(contains_substring)

True

###Remove duplicate from List

In [ ]:
L = [1,2,4,5,6,4,5,2,4,5,4]

print(list(set(L)))

[1, 2, 4, 5, 6]

### No of vovels

In [ ]:
string = 'ranjitghadge'
L = 'AEIOUaeiou'
nos = 0
for i in string:
  if i in L:
    nos = nos + 1

print(nos)

4

### No is prime or not

In [ ]:
def is_prime(number):
    if number <= 1:
        return False

    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False

    return True

# Test the function
num_to_check = 25  # Change this number to check for other values
if is_prime(num_to_check):
    print(f"{num_to_check} is a prime number.")
else:
    print(f"{num_to_check} is not a prime number.")

25 is not a prime number.

In [ ]:
num = int(input("Enter number "))

for i in range(2,num):
  if num % i == 0:
    print("Its not a prime number")
    break
else:
  print("It is a prime number")

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

### Find Factorial of No

In [ ]:
num=int(input("Enter No here"))

fact=1

if num < 0:
  print("Factorial doent exist")
if num == 0:
  print ("Factorial of 0 is",1)
if num> 0:
  for i in range (1,num+1):
    fact = fact*i
print("Factorial of given no is", fact)

Enter No here5
Factorial of given no is 120

In [ ]:
def facts(num):
    if num < 0:
        return "Factorial is not defined for negative numbers"
    fact = 1
    for i in range(1, num + 1):
        fact = fact * i
    return fact

num = int(input("Enter a number: "))
result = facts(num)
print(result)

Enter a number: 5
120

### Fibonacci Sequence

In [ ]:
a=0
b=1
num=int(input("Enter No here"))
if num == 0:
  print(a)
else:
  print(a)
  print(b)
  for i in range (1,num+1):
    c = a+b
    a = b
    b = c
    print(c)

Enter No here10
0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
def fibonacci(n):
    sequence = [0, 1]
    while len(sequence) < n:
        next_number = sequence[-1] + sequence[-2]
        sequence.append(next_number)
    return sequence

terms = 10
fib_sequence = fibonacci(terms)
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Armstrong Number

In [ ]:
num=int(input("Enter No here"))
order = len(str(num))

sum=0
temp= num

while  temp > 0:
  digit = temp%10
  sum += digit**order
  temp //=10

if sum == num:
  print("It is a armstrong no ")
else:
  print("It is NOT a armstrong no ")

Enter No here125
It is NOT a armstrong no

### Find HCF or GCD

In [ ]:
def findHCF(x,y):
    if x > y:
        smaller= y
    else:
        smaller = x
    for i in range (1,smaller+1):
        if ((x % i==0) and (y % i==0)):
            hcf= i
    return hcf

print("HCF of given no is: ", findHCF(12,30))

HCF of given no is:  6

### Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
a =int(input())

for i in range(0,a+1):
  print(i*'*')

for i in range(a,0,-1):
  print(i*'*')

5

*
**
***
****
*****
*****
****
***
**
*

In [ ]:
n = 5


for i in range (1,n+1):
    print("* "*i)

for i in range(n+1,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5

for i in range (0,n+1):
    print(" "*(n-i) + "*" * i + "*" * (i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
n = 5

for i in range(0,n):
    print("   "*(n-i) + " * "*(i) + " * "*(i-1))

for i in range(0,n+1):
    print("   "*i + " * "*(n-i) + " * "*(n-i-1))

             *
          *  *  *
       *  *  *  *  *
    *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *
       *  *  *  *  *
          *  *  *
             *

In [ ]:
n =5

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = 4
num = 1
for i in range(1, n + 1):
    for j in range(i):
        print(num, end=' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

### Reverse Words

In [ ]:
a= input()
list1= a.split(' ')
list2= []
for i in list1:
  list2.append(i[::-1])
output = ' '.join(list2)
print(output)

ranjjit gahdge
tijjnar egdhag

In [ ]:
def reverse(name):
    a = name[::-1]
    return a

name = str(input("Enter a string: "))
reversed_name = reverse(name)
print(reversed_name)

Enter a string: ranjit ghadge
egdahg tijnar

### String Palindrome

In [ ]:
string = input()

if string == string[: :-1]:
    print('String is a Palindrome')
else:
    print('String is not a Palindrome')

opo
String is a Palindrome

### Pattern:- 1

In [ ]:
n = 5

for i in range(n):
  for j in range(i,n):
     print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')

  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n = 5

for i in range(n+1):
  for j in range(i):
    print('*', end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

1. Write a python program to print following star pattern:

In [ ]:
n=5
for i in range(n):
   for j in range(n):
      print('*', end=' ')
   print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = 5

for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n = 5

for i in range(n):
  for j in range(i,n):
    print('*',end=' ')
  for j in range(i):
    print(' ',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5

for i in range(n):
  for j in range(i):
    print(' ',end = ' ')
  for j in range(n-i):
    print('*',end=' ')
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
n = 5

for i in range(n):
  for j in range(i,n):
    print(' ',end= ' ')
  for j in range(i):
    print('*',end= ' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n = 5

for i in range(n):
  for j in range(i):
    print(' ',end=' ')
  for j in range(n-i):
    print('*',end= ' ')
  for j in range(n-i-1):
    print('*',end= ' ')
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
input_list = [1, 2, 3]
output_list = []

for num in input_list:
    repeated_elements = [num] * num  # Create a list with 'num' repetitions of 'num'
    output_list.extend(repeated_elements)  # Extend the output_list with the repeated elements

print(output_list)

[1, 2, 2, 3, 3, 3]

a b c d e f g
alphabets
3 1
a

b
Name: alphabets, dtype: object

User will input (3ages).Find the oldest one

In [ ]:
A = int(input())
B = int(input())
C = int(input())

oldest = max(A,B,C)

print(oldest)

23
32
45
45

Write a program that will convert celsius value to fahrenheit

In [ ]:
ctemp = float(input())

Ftemp = (ctemp * 9/5) + 32

print(Ftemp)

45
113.0

Write a Python program to count the frequency of each element in the list:

In [ ]:
data = [1, 2, 2, 3, 4, 3, 3, 5, 1]

D = {}

for i in data:
  if i in D:
    D[i] += 1
  else:
    D[i] = 1

print(D)

{1: 2, 2: 2, 3: 3, 4: 1, 5: 1}

Write a Python function to check if a string is a palindrome (same forward and backward), ignoring case and spaces.

In [ ]:
def Is_pal(A):
    A_clean = A.replace(" ", "").lower()
    return A_clean == A_clean[::-1]

# Test cases
print(Is_pal("madam"))       # True
print(Is_pal("nurses run"))  # True

True
True

Write a Python program to remove duplicate characters from a string while preserving the original order.

In [ ]:
# Input:  "bananas"
# Output: "bans"


input =  "bananas"

L = []

for i in input:
  if i not in L:
    L.append(i)

print("".join(L))

bans

Write a function to return the second highest number in a list.

In [ ]:
L = [10, 20, 4, 45, 99]

uni = list(set(L))  # Remove duplicates
uni.sort(reverse=True)  # Sort in-place

print(uni[1])  # Output: 45

45

Write a Python program to find all unique pairs in a list that sum to a target number.

In [ ]:
del sorted  # Restores the original built-in sorted function

In [ ]:
L = [2, 4, 3, 5, 7, 8, 9]
target = 7

pairs = set()  # Use a set to store unique pairs

for i in range(len(L)):
    for j in range(i + 1, len(L)):
        if L[i] + L[j] == target:
            pair = tuple(sorted((L[i], L[j])))
            pairs.add(pair)

# Convert set to list if needed
print(list(pairs))  # Output: [(2, 5), (3, 4)]

[(2, 5), (3, 4)]

Write a Python function that takes a list of integers and returns a new list containing only the even numbers, sorted in descending order.

In [ ]:
# Input: [10, 3, 4, 6, 7, 1, 8]
# Output: [10, 8, 6, 4]


L = [10, 3, 4, 6, 7, 1, 8]


L2 = [  i for i in L if i%2 ==0]

print(sorted(L2,reverse = True))

[10, 8, 6, 4]

Write a Python program to return the number of vowels (a, e, i, o, u) in a given string. It should ignore case.

In [ ]:
# Input: "AlmaBetter"
# Output: 4


S = "AlmaBetter"

V = "aeiou"

S2 = 0
for i in S.lower():
  if i in V:
    S2 += 1

print(S2)

4

Write a function to flatten a nested list (only one level of nesting, like below).

In [ ]:
# Input: [1, 2, [3, 4], 5, [6, 7]]
# Output: [1, 2, 3, 4, 5, 6, 7]


def flatten_list(lst):
    flat = []
    for item in lst:
        if isinstance(item, list):
            flat.extend(item)  # Unpack inner list
        else:
            flat.append(item)
    return flat

# Example
L = [1, 2, [3, 4], 5, [6, 7]]
print(flatten_list(L))  # Output: [1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

Write a Python function that takes a string and returns the most frequent character in it. If multiple characters have the same highest frequency, return the first one in order of appearance. Ignore spaces and be case-insensitive.

In [ ]:
# Input: "Data Analysis"
# Output: "a"


def most_frequent_char(s):
    s = s.replace(" ", "").lower()  # Remove spaces, make lowercase
    freq = {}

    for ch in s:
        freq[ch] = freq.get(ch, 0) + 1

    max_freq = max(freq.values())  # Get highest frequency

    # Return first character with max frequency
    for ch in s:
        if freq[ch] == max_freq:
            return ch

# Test
print(most_frequent_char("Data Analysis"))  # Output: "a"

a

Write a function that takes a sentence (string) and returns a list of words that appear more than once, ignoring case and punctuation.

In [ ]:
s = "Data is powerful and data is valuable"

s = s.lower()
words = s.split()

D = {}
L2 = []

for word in words:
    D[word] = D.get(word, 0) + 1

for word in D:
    if D[word] > 1:
        L2.append(word)

print(L2)  # Output: ['data', 'is']

['data', 'is']

Write a Python function to remove all duplicates from a list of words, ignoring case. The output list should:

Contain only unique words

Be in the order of first appearance (case-insensitive match)

Return all words in lowercase

In [ ]:
# Input: ['Data', 'Analysis', 'data', 'science', 'Science']
# Output: ['data', 'analysis', 'science']


L = ['Data', 'Analysis', 'data', 'science', 'Science']

lower =[]

for i in L:
  lower.append(i.lower())

L2 = []
for j in lower:
  if j not in L2:
    L2.append(j)


print(L2)

['data', 'analysis', 'science']

Q:
Write a Python function that takes a string and returns a list of all words that are palindromes, ignoring case.

In [ ]:
# Input: "Madam Arora teaches malayalam and level students civic sense"
# Output: ['madam', 'arora', 'malayalam', 'level', 'civic']


s = "Madam Arora teaches malayalam and level students civic sense"


s = s.lower()

L = s.split(" ")

L2 = []

for i in L:
  if i == i[::-1]:
    L2.append(i)

print(L2)

['madam', 'arora', 'malayalam', 'level', 'civic']

Write a function that takes a list of integers and returns a new list where:

All odd numbers come first (sorted ascending)

Then all even numbers (sorted descending)

In [ ]:
# Input: [4, 3, 1, 2, 5, 6, 8, 7]
# Output: [1, 3, 5, 7, 8, 6, 4, 2]

L = [4, 3, 1, 2, 5, 6, 8, 7]

odd_first = []
even = []

for i in L:
    if i % 2 != 0:
        odd_first.append(i)
    else:
        even.append(i)

odd_first.sort()             # Sort in-place
even.sort(reverse=True)      # Sort in-place

result = odd_first + even    # Combine both lists

print(result)

[1, 3, 5, 7, 8, 6, 4, 2]

Given a list of strings, write a function that returns a list of the longest word(s) in the list.
If there are multiple words with the same maximum length, return all of them.

In [ ]:
# Input: ["data", "science", "AI", "machine", "learning"]
# Output: ["learning"]


def longest_words(words):
    max_len = max(len(word) for word in words)
    result = [word for word in words if len(word) == max_len]
    return result

# Example 1
print(longest_words(["data", "science", "AI", "machine", "learning"]))
# Output: ['learning']

# Example 2
print(longest_words(["hi", "hello", "world", "code"]))
# Output: ['hello', 'world']

['learning']
['hello', 'world']

You are given a string. Write a Python function to find the first non-repeating character in the string. If all characters repeat, return None.

In [6]:
text = "datascience"

D = {}

for i in text:
  if i in D:
    D[i] = D[i] + 1
  else:
    D[i] = 1


for i in text:
  if D[i] == 1:
    break
print(i)

d

You are given a list of tuples, where each tuple contains a product name and its sales. Write a Python function to:

Group sales by product name.

Return the result as a dictionary with product names as keys and total sales as values.

In [7]:
sales = [
    ("Laptop", 3),
    ("Phone", 5),
    ("Laptop", 2),
    ("Tablet", 4),
    ("Phone", 1)
]

D = {}
for j, m in sales:
    if j in D:
        D[j] = D[j] + m
    else:
        D[j] = m

print(D)
# {'Laptop': 5, 'Phone': 6, 'Tablet': 4}

{'Laptop': 5, 'Phone': 6, 'Tablet': 4}

You are given a dictionary where keys are employee names and values are their departments. Write a Python function to invert the dictionary, so that departments become keys and the values are lists of employees in that department.

In [8]:
employees = {
    "Alice": "HR",
    "Bob": "Finance",
    "Charlie": "HR",
    "David": "IT",
    "Eva": "Finance"
}

D = {}
for emp, dep in employees.items():
    if dep not in D:
        D[dep] = []
    D[dep].append(emp)

print(D)
# {'HR': ['Alice', 'Charlie'], 'Finance': ['Bob', 'Eva'], 'IT': ['David']}

{'HR': ['Alice', 'Charlie'], 'Finance': ['Bob', 'Eva'], 'IT': ['David']}

Write a Python function to reverse a string without using slicing ([::-1]).

In [9]:
def reverse_string(s):
    result = ""
    for char in s:
        result = char + result   # put each character in front
    return result

# Example
text = "Python"
print(reverse_string(text))   # Output: nohtyP

nohtyP

String Reversal Interview Questions

In [13]:
# ==============================
# String Reversal Interview Problems
# ==============================

text = "datascience"

# 1. Reverse entire string (slicing)
print(text[::-1])
# encsaitad

# 1(a). Reverse entire string (for loop alternative)
rev = ""
for ch in text:
    rev = ch + rev
print(rev)
# encsaitad



# 2. Reverse using list.reverse()
rev = list(text)
rev.reverse()
print("".join(rev))
# encsaitad



# 3. Reverse using reversed()
print("".join(reversed(text)))
# encsaitad



# 4. Reverse using recursion
def reverse_recursive(s):
    if len(s) == 0:
        return s
    return reverse_recursive(s[1:]) + s[0]
print(reverse_recursive(text))
# encsaitad



# 5. Reverse words in a sentence (slicing)
sentence = "I love data science"
print(" ".join(sentence.split()[::-1]))
# science data love I

# 5(a). Reverse words in a sentence (loop alternative)
words = sentence.split()
rev_words = []
for i in range(len(words) - 1, -1, -1):
    rev_words.append(words[i])
print(" ".join(rev_words))
# science data love I



# 6. Reverse each word but keep order (slicing)
print(" ".join([word[::-1] for word in sentence.split()]))
# I evol atad ecneics

# 6(a). Reverse each word but keep order (loop alternative)
rev_each = []
for word in sentence.split():
    rev_word = ""
    for ch in word:
        rev_word = ch + rev_word
    rev_each.append(rev_word)
print(" ".join(rev_each))
# I evol atad ecneics

# 7. Palindrome check using reverse (slicing)
pal_text = "madam"
print(pal_text == pal_text[::-1])
# True

# 7(a). Palindrome check using loop
pal = True
for i in range(len(pal_text)//2):
    if pal_text[i] != pal_text[-(i+1)]:
        pal = False
        break
print(pal)
# True

# 8. Reverse only vowels
vowels = [ch for ch in text if ch in "aeiou"]
result = ""
for ch in text:
    if ch in "aeiou":
        result += vowels.pop()
    else:
        result += ch
print(result)
# detascainco

ecneicsatad
ecneicsatad
ecneicsatad
ecneicsatad
ecneicsatad
science data love I
science data love I
I evol atad ecneics
I evol atad ecneics
True
True
detescianca

String Reversal Without Slicing

1. Reverse with loop: ecneicsatad
2. Reverse with list.reverse(): ecneicsatad
3. Reverse with reversed(): ecneicsatad
4. Reverse with recursion: ecneicsatad

You’re given a list of product reviews in this format:

Task:
Write Python code to:

Convert all reviews to lowercase

Remove punctuation

Split each review into list of words

Store the cleaned words of all reviews in a single list (flattened)

In [ ]:
import string

reviews = [
    "Amazing product, will buy again!",
    "Not good, broke in 2 days",
    "Excellent! Highly recommended.",
    "Worst ever. Total waste of money."
]

# Step 1: lowercase
lower_reviews = [i.lower() for i in reviews]

# Step 2: remove punctuation
clean_reviews = [i.translate(str.maketrans('', '', string.punctuation)) for i in lower_reviews]

# Step 3: split into words
split_reviews = [i.split() for i in clean_reviews]

# Step 4: flatten into single list
all_words = [word for review in split_reviews for word in review]

print(all_words)

['amazing', 'product', 'will', 'buy', 'again', 'not', 'good', 'broke', 'in', '2', 'days', 'excellent', 'highly', 'recommended', 'worst', 'ever', 'total', 'waste', 'of', 'money']

Task:

Find the list of users who are both active and premium

Find users who are only active (not premium)

Return the result as a dictionary like:

In [ ]:
active_users = ['Amit', 'Priya', 'Ravi', 'Sneha', 'Karan']
premium_users = ['Ravi', 'Sneha', 'Neha']

# Convert to sets
active_set = set(active_users)
premium_set = set(premium_users)

# 1. Users who are both active and premium
both = list(active_set & premium_set)

# 2. Users who are only active (not premium)
only_active = list(active_set - premium_set)

# Result as a dictionary
result = {
    'both': both,
    'only_active': only_active
}

print(result)

{'both': ['Sneha', 'Ravi'], 'only_active': ['Amit', 'Karan', 'Priya']}

In [ ]:
both = [user for user in active_users if user in premium_users]
only_active = [user for user in active_users if user not in premium_users]


print(both)

['Ravi', 'Sneha']

In [ ]:
import pandas as pd
import numpy as np

# Original DataFrame
data = {
    'Customer': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Age': [25, np.nan, 35, 29, np.nan, 40],
    'City': ['Delhi', 'Mumbai', np.nan, 'Delhi', 'Chennai', 'Mumbai'],
    'Spending': [2000, 1500, 2500, np.nan, 1800, 2200]
}

df = pd.DataFrame(data)

# Step 4: Filter customers with Spending > 2000 and City != "Unknown"
filtered_df = df[(df["Spending"] > 2000) & (df["City"] != "Unknown")]

print(filtered_df)

  Customer   Age    City  Spending
5        F  40.0  Mumbai    2200.0

In [ ]:
# Step 1: Fill missing Age with mean
mean_age = df["Age"].mean()
df["Age"] = df["Age"].fillna(mean_age)
df

  Customer    Age     City  Spending
0        A  25.00    Delhi    2000.0
1        B  32.25   Mumbai    1500.0
2        C  35.00  Unknown    2500.0
4        E  32.25  Chennai    1800.0
5        F  40.00   Mumbai    2200.0

In [ ]:
# Step 2: Fill missing City with "Unknown"
df["City"] = df["City"].fillna("Unknown")

In [ ]:
# Step 3: Drop rows where Spending is missing
df = df.dropna(subset=["Spending"])

✅ Task:
Create a pivot table that shows total sales for each Region and Product

Fill missing values with 0

Add row and column totals (if possible)

In [ ]:
import pandas as pd

# Original data
data = {
    'Region': ['North', 'South', 'North', 'East', 'South', 'East'],
    'Product': ['A', 'A', 'B', 'B', 'B', 'A'],
    'Sales': [250, 150, 200, 300, 100, 400]
}

df = pd.DataFrame(data)

# Step 1 & 2: Create pivot table with total sales by Region & Product, fill missing with 0
pivot_table = pd.pivot_table(
    df,
    index='Region',
    columns='Product',
    values='Sales',
    aggfunc='sum',
    fill_value=0
)
print(pivot_table)

Product    A    B
Region
East     400  300
North    250  200
South    150  100

In [ ]:

# Step 3: Add row and column totals
pivot_table['Total'] = pivot_table.sum(axis=1)  # Row totals
pivot_table.loc['Total'] = pivot_table.sum()    # Column totals


print(pivot_table)

Product    A    B  Total
Region
East     400  300    700
North    250  200    450
South    150  100    250
Total    800  600   1400